apiVersion: apps/v1
kind: Deployment
metadata:
  name: testmodel-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: testmodel
  template:
    metadata:
      labels:
        app: testmodel
    spec:
      containers:
        - name: testmodel
          
          image: mfd2026/testmodel:v1
          ports:
            - containerPort: 8000
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              cpu: 1000m
              memory: 1024Mi
            limits:
              cpu: 3000m
              memory: 3072Mi
